package sdk

import (
	"net/http"
	"reflect"
	"testing"
	"time"
)

func TestNewClient(t *testing.T) {
	type args struct {
		key    string
		optFns []func(*options)
	}
	tests := []struct {
		name    string
		args    args
		want    Client
		wantErr bool
	}{
		{
			name: "happy path",
			args: args{
				key:    "foo",
				optFns: nil,
			},
			want: &client{
				options: options{
					key:        "foo",
					httpClient: &http.Client{Timeout: defaultTimeout},
				},
				baseURL: baseURL,
			},
			wantErr: false,
		},
		{
			name: "unhappy path: missing api key",
			args: args{
				key:    "",
				optFns: nil,
			},
			want:    nil,
			wantErr: true,
		},
		{
			name: "happy path: custom http client",
			args: args{
				key: "bar",
				optFns: []func(*options){
					WithHTTPClient(&http.Client{Timeout: 1 * time.Minute}),
				},
			},
			want: &client{
				options: options{
					key:        "bar",
					httpClient: &http.Client{Timeout: 1 * time.Minute},
				},
				baseURL: baseURL,
			},
			wantErr: false,
		},
		{
            name: "mock http client",
            args: args{
                key: "",
                optFns: []func(*options){
                    WithHTTPClient(NewMockHTTPClient()),
                },
            },
            want: &client{
                options: options{
                    key:        "",
                    httpClient: mockHTTPClient{endpoints: endpointResponseExamples},
                },
                baseURL: baseURL,
            },
            wantErr: false,
        },
	}

	for _, tt := range tests {
		t.Run(
			tt.name, func(t *testing.T) {
				got, err := NewClient(tt.args.key, tt.args.optFns...)
				if (err != nil) != tt.wantErr {
					t.Errorf("NewClient() error = %v, wantErr %v", err, tt.wantErr)
					return
				}
				if !reflect.DeepEqual(got, tt.want) {
					t.Errorf("NewClient() got = %v, want %v", got, tt.want)
				}
			},
		)
	}
}
