name: "Check Neon API Spec Updates"

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  compare_to_new_spec:
    runs-on: ubuntu-latest
    name: Compare to new API spec
    outputs:
      isNew: ${{ steps.diff.outputs.isNew }}
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 1
      - name: Pull new spec
        run: |
          curl -SLo openAPIDefinition_new.json "$SPEC_URL"
        env:
          SPEC_URL: https://dfv3qgd2ykmrx.cloudfront.net/api_spec/release/v2.json
      - name: Diff
        id: diff
        run: |
          if [ $(diff openAPIDefinition_new.json openAPIDefinition.json | wc -l) -gt 0 ]; then
            echo "isNew=true" >> $GITHUB_OUTPUT
          else
            echo "isNew=false" >> $GITHUB_OUTPUT
          fi
  notify:
    runs-on: ubuntu-latest
    name: Notify
    needs:
      - compare_to_new_spec
    if: needs.compare_to_new_spec.outputs.isNew == 'true'
    steps:
      - name: Telegram
        uses: appleboy/telegram-action@master
        with:
          to: ${{ secrets.TELEGRAM_TO }}
          token: ${{ secrets.TELEGRAM_TOKEN }}
          message: |
            New Neon API spec has been detected. Please take action.

            The message was sent from https://github.com/kislerdm/neon-sdk-go
            Get in touch for details: admin@dkisler.com
        continue-on-error: true
      - name: Ntfy
        run: |
          curl \
              -H "Title: Neon API Spec Updated" \
              -H "Priority: urgent" \
              -H "Tags: warning" \
              -H "Actions: view, Open API Spec, https://api-docs.neon.tech/; \
                           view, Open Repo, https://github.com/kislerdm/neon-sdk-go; \
                           view, Send Email to maintainer, mailto:admin@dkisler.com?subject=[alert]Neon-API-Updated" \
              -d "New Neon API spec has been detected. Please take action.
          
            The message was sent from https://github.com/kislerdm/neon-sdk-go
            Get in touch for details: admin@dkisler.com" \
            ntfy.sh/neon-api-spec-updated
