name: "Tests"

on:
  push:
    paths:
      - "*.go"
      - "go.mod"
  pull_request:
    branches:
    - master
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    name: Test
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
      - name: Mod tidy
        run: go mod tidy
      - name: Test
        run: TF_ACC=1 go test -race -coverprofile=coverage.txt -covermode=atomic
        env:
          NEON_API_KEY: ${{ secrets.NEON_API_KEY }}
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
